<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- <import resource="applicationContext-db-sqlserver2008.xml" /> -->
	<import resource="applicationContext-db.xml" />

	<context:component-scan base-package="com.duang" />

	<bean id="serviceValidator" class="com.duang.fuli.service.aop.ServiceValidator">
	</bean>



	<aop:config>
		<aop:aspect ref="serviceValidator">
			<aop:pointcut id="serviceValidatorPointCut"
				expression="execution(* *..service..*.modify*(..))" />
			<aop:around method="around" pointcut-ref="serviceValidatorPointCut" />
		</aop:aspect>
	</aop:config>


	<!-- 很坑爹的是这里貌似aop无法执行，我再用注解的方式试一下吧。 <aop:config> <aop:aspect id="aspect" 
		ref="aspectBean"> 配置com.lzq.spring.service包下所有类或接口的所有方法 <aop:pointcut id="logService" 
		expression="execution(* com.feng.controller.*.*(..))" /> <aop:before pointcut-ref="logService" 
		method="doBefore" /> <aop:after pointcut-ref="logService" method="doAfter" 
		/> <aop:around pointcut-ref="logService" method="doAround" /> </aop:aspect> 
		</aop:config> <bean id="aspectBean" class="com.feng.spring.aop.TestAop"></bean> -->

</beans>