body {
}
body {
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    word-wrap: break-word;
}
ul, li, h1, h2, h3, p, ol {
    list-style: outside none none;
}
ul, li, h1, h2, h3, p, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mb10 {
    margin-bottom: 10px;
}

.noborder {
    border: 0 none !important;
}



a,a:hover{
    color: #0088db;
    cursor: pointer;
    text-decoration: none;
}

.navbar-inverse {
    background-color: #39424e;
    border-color: #39424e;
    border-radius: 0;
    margin-bottom: 0;
}


.excerpt h2 {
    font-size: 28px;
    font-weight: normal;
    margin: 4px 0 12px;
    overflow: hidden;
}

.excerpt h2 a {
    color: #333;
}

.info, .info a {
    color: #777;
}
.info {
    margin-bottom: 12px;
}

.spndate {
    border-left: 5px solid #a4cee6;
    padding-left: 5px;
}

.spncomm {
    border-left: 5px solid #e0badd;
    margin-left: 20px;
    padding-left: 5px;
}

.spnview {
    border-left: 5px solid #b8d088;
    margin-left: 20px;
    padding-left: 5px;
}


.note {
    color: #444;
    font-size: 16px;
    line-height: 35px;
    overflow: hidden;
    position: relative;
}

.readmore {
    padding: 8px 0;
}

.readmore a {
    background-color: #38a3db;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    padding: 2px 10px 3px;
}


.shadow-box {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(209, 212, 221, 0.15);
    margin-bottom: 15px;
}
.post-title {
    color: #555;
    font-size: 20px;
    line-height: 30px;
    padding: 16px 20px;
}

.post-other {
    color: #999;
    font-size: 12px;
    line-height: 26px;
    width: 100%;
}
.post-other {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    padding: 10px 20px;
}

.author {
    margin-right: 15px;
}
.post-other .time {
    margin-right: 20px;
}

.tags {
    float: left;
    overflow: hidden;
}
.tags > li {
    display: inline-block;
    margin-right: 6px;
}



.tags .tag {
    background-color: #969696;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
}
.tags .tag-sm {
    border-radius: 2px;
    font-size: 12px;
    line-height: 22px;
    padding: 0 8px;
}
.post-content {
    display: block;
    line-height: 28px;
    margin: 20px 20px 0;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    word-wrap: break-word;
}
.about-user .user-card {
    padding: 0;
}
.about-user {
    margin-bottom: 15px;
}
.about-user .nk {
    font-size: 16px;
}

.about-user .user-info {
    overflow: hidden;
    padding: 15px 15px 15px 0;
}

.about-user .ava {
    float: left;
    padding: 15px;
}

.about-user .user-datas ul {
    height: 50px;
    margin: 0;
    overflow: hidden;
}

.about-user .user-datas ul li {
    border-right: 1px solid #e8e8e8;
    float: left;
    height: 50px;
    text-align: center;
    width: 102px;
}

.about-user .user-datas ul li strong {
    display: block;
    font-size: 26px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.about-user .user-datas ul li span {
    color: #999;
    font-size: 12px;
}



