body {
}
body {
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    word-wrap: break-word;
}
ul, li, h1, h2, h3, p, ol {
    list-style: outside none none;
}
ul, li, h1, h2, h3, p, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
button, input {
    border: 1px solid;
    line-height: normal;
    outline: medium none;
}

.clear{
	clear:both;
}

.container {
    width: 1020px;
}

.mb10 {
    margin-bottom: 10px;
}

.pd20 {
    padding: 20px;
}
.pd50 {
    padding: 50px;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

.noborder {
    border: 0 none !important;
}



a,a:hover{
    color: #0088db;
    cursor: pointer;
    text-decoration: none;
}

/* clear float */

.clearfix::after, .widget ul::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* clear float¡¡end */


.navbar-inverse {
    background-color: #393D49;
    border-color: #39424e;
    border-radius: 0;
    margin-bottom: 0;
}


.excerpt h2 {
    font-size: 28px;
    font-weight: normal;
    margin: 4px 0 12px;
    overflow: hidden;
}

.excerpt h2 a {
    color: #333;
}

.info, .info a {
    color: #777;
}
.info {
    margin-bottom: 12px;
}

.spndate {
    border-left: 5px solid #a4cee6;
    padding-left: 5px;
}

.spncomm {
    border-left: 5px solid #e0badd;
    margin-left: 20px;
    padding-left: 5px;
}

.spnview {
    border-left: 5px solid #b8d088;
    margin-left: 20px;
    padding-left: 5px;
}


.note {
    color: #444;
    font-size: 16px;
    line-height: 35px;
    overflow: hidden;
    position: relative;
}

.readmore {
    padding: 8px 0;
}

.readmore a {
    background-color: #38a3db;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    padding: 2px 10px 3px;
}


.shadow-box {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(209, 212, 221, 0.15);
    margin-bottom: 15px;
}
.post-title {
    color: #555;
    font-size: 20px;
    line-height: 30px;
    padding: 16px 20px;
}

.post-other {
    color: #999;
    font-size: 12px;
    line-height: 26px;
    width: 100%;
}
.post-other {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    padding: 10px 20px;
}

.author {
    margin-right: 15px;
}
.post-other .time {
    margin-right: 20px;
}

.tags {
    float: left;
    overflow: hidden;
}
.tags > li {
    display: inline-block;
    margin-right: 6px;
}



.tags .tag {
    background-color: #969696;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
}
.tags .tag-sm {
    border-radius: 2px;
    font-size: 12px;
    line-height: 22px;
    padding: 0 8px;
}
.post-content {
    display: block;
    line-height: 28px;
    margin: 20px 20px 0;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    word-wrap: break-word;
}
.about-user .user-card {
    padding: 0;
}
.about-user {
    margin-bottom: 15px;
}
.about-user .nk {
    font-size: 16px;
}

.about-user .user-info {
    overflow: hidden;
    padding: 15px 15px 15px 0;
}

.about-user .ava {
    float: left;
    padding: 15px;
}

.about-user .user-datas ul {
    height: 50px;
    margin: 0;
    overflow: hidden;
}

.about-user .user-datas ul li {
    border-right: 1px solid #e8e8e8;
    float: left;
    height: 50px;
    text-align: center;
    width: 102px;
}

.about-user .user-datas ul li strong {
    display: block;
    font-size: 26px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.about-user .user-datas ul li span {
    color: #999;
    font-size: 12px; 
}


/*
publish welfare start
*/
#publish_welfare label{
       text-align:left;	
}


/*
publish welfare end
*/


/*
modify user info start
*/
.upload-btn {
    text-align: center;
}

.update_ava {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px auto;
    min-height: 300px;
    text-align: center;
    width: 300px;
}

.upload-btn label {
    background-color: #5a7bc2;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 40%;
    font-weight: bold;
    margin: 10px auto 0;
    overflow: hidden;
    padding: 6px 0;
    position: relative;
    width: 300px;
}
.upload-btn input {
    border: medium solid transparent;
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* modify user info  end */


/* login alert start */
#loginalert {
    background: #fff none repeat scroll 0 0;
    display: none;
    left: 50%;
    margin-left: -220px;
    position: fixed;
    top: -600px;
    width: 440px;
    padding:0;
    z-index: 1051;
}


.loginpd {
    border-bottom: 1px solid #ecf2f5;
}

.loginh {
    height: 40px;
    margin-top: 20px;
}
.loginh .fl {
    color: #292929;
    font-size: 30px;
    line-height: 40px;
}


.loginh .fr {
    color: #707070;
    font-size: 18px;
    line-height: 50px;
}


.loginh .fr a {
    color: #ff4200;
    font-size: 18px;
    line-height: 50px;
    margin-left: 5px;
}
.logininput .loginusername {
    margin-bottom: 10px;
    margin-top: 15px;
}
.logininput input {
    border: 1px solid #dae2e5;
    color: #979696;
    display: block;
    height: 40px;
    overflow: hidden;
    padding-bottom: 13px;
    padding-top: 13px;
    text-indent: 10px;
    width: 100%;
}

.loginbtn {
    color: #6b6a6a;
    height: 70px;
    overflow: hidden;
}
.loginsubmit {
    display: inline;
    height: 40px;
    margin: 15px 20px 0 0;
    width: 130px;
}
.loginsubmit .btn {
    background: #70ca10 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 130px;
}
.thirdlogin .pd50 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.thirdlogin ul li {
    display: inline;
    float: left;
    margin: 0 20px 10px 0;
}
.thirdlogin h4 {
    color: #6b6a6a;
    font-weight: 500;
    margin-bottom: 20px;
}
.thirdlogin .pd50 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.thirdlogin ul li a {
    color: #fff;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-indent: 60px;
    width: 160px;
}

#sinal a {
    background: #d63b22 url("../images/weibo.png") no-repeat scroll 0 -5px;
}

#qql a {
    background: #3eb0d8 url("../images/qq.png") no-repeat scroll 0 -5px;
}

.closealert {
    background: rgba(0, 0, 0, 0) url("../images/icons.png") no-repeat scroll -220px -315px;
    cursor: pointer;
    height: 20px;
    transition: all 0.4s ease-out 0s;
    width: 20px;
}
.closealert:hover {
    transform: rotate(-180deg);
}
/* login alert end */

/* welfare comment start */


#respond {
    font-size: 12px;
    margin-bottom: 38px;
    overflow: hidden;
    position: relative;
}

.base-tit {
    border-bottom: 1px solid #e6e6e6;
    clear: both;
    color: #444;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 16px;
    padding: 0 0 5px;
}

.comt-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    padding: 8px;
    position: relative;
}

.comt-area {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #666;
    font-size: 14px;
    position: relative;
    width: 100%;
}

.comt-ctrl {
    color: #999;
    height: 32px;
    line-height: 32px;
    margin: 8px 0;
    position: relative;
}

.comt-addsmilies, .comt-addcode {
    color: #888;
    float: left;
    padding: 0 10px;
}
.comt-submit {
    background-color: #38a3db;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    width: 108px;
}


.comment {
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 25px 0;
    position: relative;
}
.comment .c-avatar {
    overflow: hidden;
    padding: 8px 0 0;
    position: absolute;
}
.comment .c-footer {
    font-size: 12px;
    overflow: hidden;
    padding: 1px 0;
    position: relative;
}


.comment .c-avatar .avatar {
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    display: block;
    height: 45px;
    transition: all 0.3s ease-out 0s;
    width: 45px;
}
.comment .c-main .c-meta {
    color: #cecece;
    margin-left: -50px;
    padding-bottom: 10px;
    position: relative;
}


.comment .c-main .msgarticle {
    font-size: 15px;
    line-height: 200%;
    margin-right: 0;
    overflow: visible;
    padding-bottom: 22px;
    position: relative;
}


.comment .c-main {
    margin-left: 108px;
    overflow: visible;
    position: relative;
}
.comment .c-main .c-meta .c-author {
    font-size: 17px;
    position: relative;
}


.comment .c-main .c-meta .c-author a {
    color: #000;
    text-decoration: none;
}

.comment .c-main .c-meta .c-time {
    font-size: 13px;
    padding: 4px 0;
    position: absolute;
    right: 0;
}


.comment .c-footer a {
    background-color: #eee;
    border-radius: 15px;
    color: #666;
    padding: 1px 8px;
    position: relative;
}

#cancel-reply {
    border: 1px solid #38a3db;
    border-radius: 18px;
    color: #38a3db;
    font-size: 13px;
    margin-left: 8px;
    padding: 2px 11px;
}
#postcomments{
	padding:0 20px;
}


/* welfare comment end */

/* right sidebar */
.widget {
    background-color: #f5f5f5;
    border-top: 5px solid #0082c8;
    clear: both;
    color: #333;
    font-size: 13px;
    margin: 0 0 8px;
    padding: 23px 28px 18px;
}


.widget h3 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 8px;
    position: relative;
}

.widget_divCatalog li, .widget_divStatistics li, .widget_divArchives li, .widget_divFavorites li, .widget_divLinkage li, .widget_divMisc li {
    float: left;
    width: 50%;
}
.widget_divCatalog, .widget_divStatistics, .widget_divArchives, .widget_divFavorites, .widget_divLinkage, .widget_divMisc {
    line-height: 32px;
}

.widget_views li, .widget_d_sticky li, .widget_divComments li, .widget_divPrevious li, .widget_links li, .d_hotpost_txt li, .widget_divAboutKen li {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.widget a {
    border-bottom: 2px solid #f5f5f5;
    color: #333;
}
/* right sidebar */

/* welfarelist/start */
.welfare-list{
	padding:0 10px;
}


/* welfarelist/end */
